* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fresca", sans-serif;
  color: #fff;
  background-color: #21232e;
}

.header-wrap,
.footer-wrap,
.section {
  width: 1920px;
  max-width: 80%;
  margin: 0 auto;
}

.header .landing-logo,
.footer .landing-logo {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 18px;
}
.header .landing-logo img,
.footer .landing-logo img {
  width: 56px;
  padding-top: 6px;
  padding-right: 17px;
}
.header .landing-logo p,
.footer .landing-logo p {
  font-size: 31px;
  font-weight: 600;
}
.header .landing-logo span,
.footer .landing-logo span {
  display: block;
  font-size: 13px;
}

.header {
  background-image: url(../img/m-h-night.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 30%;
  padding-bottom: 218px;
}
.header_heading {
  font-family: "Source Sans Pro", sans-serif;
  max-width: 650px;
  margin-top: 91px;
  font-size: 90px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  z-index: 1;
}
.header_heading::after {
  content: '';
  display: block;
  background-color: #ff4e33;
  height: 29px;
  width: 380px;
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.header_text {
  font-family: "Fresca", sans-serif;
  margin-top: 41px;
  font-size: 21px;
  white-space: pre-line;
  line-height: 1.5;
}
.header_button, .section_banner_button {
  margin-top: 74px;
  padding: 19px 54px;
  font-weight: 600;
  font-size: 20px;
  background-color: #e3ac00;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.header_button:hover, .section_banner_button:hover {
  background-color: #ca9900;
  cursor: pointer;
}

.section {
  padding-bottom: 80px;
}
.section_text {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  margin: 46px 0;
  position: relative;
  z-index: 1;
}
.section_text::after {
  content: '';
  display: block;
  background-color: #ff4e33;
  height: 16px;
  width: 238px;
  position: absolute;
  z-index: -1;
  bottom: 9px;
  right: 480px;
}
.section_card_wrap {
  display: flex;
  justify-content: space-between;
}
.section_card {
  max-width: 33%;
  padding: 23px 23px 18px 23px;
  background-color: #3b3f50;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 22px;
}
.section_card_img {
  width: 450px;
  border-radius: 5px;
}
.section_card_heading {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin: 15px 0;
  font-size: 31px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.section_card_underline {
  display: block;
  background-color: #ff4e33;
  width: 100%;
  height: 18px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.section_card_text {
  color: #d1c6bc;
  font-size: 20px;
  text-align: center;
  font-family: "Fresca", sans-serif;
}
.section_card:first-child {
  margin-left: 0;
}
.section_banner {
  max-width: 937px;
  background: linear-gradient(to right, #dda206 0%, #96324e 100%);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 128px 58px 128px;
  position: relative;
  bottom: -170px;
  left: 175px;
}
.section_banner_heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 22px;
  position: relative;
  z-index: 1;
}
.section_banner_heading::after {
  content: '';
  display: block;
  background-color: #ff4e33;
  height: 15px;
  width: 73px;
  position: absolute;
  z-index: -1;
  bottom: 5px;
  left: 140px;
  z-index: -1;
}
.section_banner_text {
  font-size: 18px;
  color: #d1c6bc;
}
.section_banner_button {
  margin-top: 28px;
}

.footer {
  background-color: #3b3f50;
  color: #d1c6bc;
  padding: 145px 0 75px 0;
}
.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_text {
  max-width: 370px;
  font-size: 18px;
}
.footer-cr {
  font-size: 20px;
}
