$mainFont: 'Fresca', sans-serif;
$fontHeader: 'Source Sans Pro', sans-serif;
$fontCard: 'Fresca', sans-serif;
$headerParagraph: 'Fresca', sans-serif;
$backgroundBodyColor: #21232e;
$backgroundCardColor: #3b3f50;
$backgroundFooterColor: #3b3f50;
$mainColorfont: #fff;
$fontLightGray: #d1c6bc;
$backgroundHeaderImage: url(../img/m-h-night.jpg);
$buttonColor: #e3ac00;
$underlineColor: #ff4e33;
$underlineCard: #ff4e33;
$gradientColor: ("to": #dda206, "from": #96324e);