$mainFont: 'Source Sans Pro', sans-serif;
$fontHeader: 'Source Sans Pro', sans-serif;
$fontCard: 'Hind', sans-serif;
$headerParagraph: 'Hind', sans-serif;
$backgroundBodyColor: #fff;
$backgroundCardColor:#21232e;
$backgroundFooterColor:#21232e;
$mainColorfont: #2c2f3c;
$fontLightGray: #c0c3ce;
$backgroundHeaderImage: url(../img/m-h-day.jpg);
$buttonColor: #699900;
$underlineColor: #14a0c7;
$underlineCard: #14a0c7;
$gradientColor: ("to": #65950e, "from": #3160c8);

